* {
  margin: 0;
  box-sizing: border-box;
}
.line {
  height: 20px;
  width: 2px;
  background-color: white;
}
.intro-section {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), black 85%),
    url("./images/numur.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
}
.title {
  display: flex;
  gap: 50px;
  align-items: end;
}
.unread-logo {
  width: 134px;
  height: 20px;
}

.nav-left,
.nav-rigth {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-rigth {
  color: white;
}
.nav-rigth h5 {
}

.sicon {
  color: white;
}
