* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
}
.line {
  height: 20px;
  width: 1px;
  background-color: white;
}
.intro-section {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), black 85%),
    url(/images/Rtud.jpeg);
  background-position: 78%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  height: 80px;
  padding-top: 35px;
}
.unread-logo {
  width: 134px;
  height: 20px;
}

.nav-left {
  display: flex;
  gap: 20px;
  align-items: center;
}
input {
  border: none;
  background-color: transparent;
}

::placeholder {
  color: white;
  opacity: 0.3;
  padding-left: 10px;
}
.sicon {
  color: white;
  opacity: 0.5;
}
.unread-logo {
  margin-left: 90px;
}

.nav-rigth {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-rigth {
  color: white;
}
.nav-rigth h5 {
  opacity: 0.3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}
.nav-rigth h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.nav-rigth button {
  border-radius: 30px;
  padding: 8px 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}
.logos {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  gap: 10px;
}

.fa-brands {
  color: white;
  font-size: 20px;
  opacity: 0.3;
  cursor: pointer;
}

.fa-square-facebook:hover {
  color: red;
}
.fa-instagram:hover {
  color: rgb(255, 0, 191);
}
.fa-square-twitter:hover {
  color: rgb(47, 255, 0);
}
.fa-linkedin-in:hover {
  color: rgb(0, 4, 255);
}
.intro-section2 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 80px;
}
.maintitle {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.maintitle span {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.maintitle h1 {
  font-size: 2.6rem;
  line-height: 3.3rem;
  font-weight: 900;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.maintitle .title {
  color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}
.intro-section2 img {
  width: 372px;
  height: 372px;
  border-radius: 30px;
}
.enhmunkh {
  display: flex;
  align-items: center;
  gap: 10px;
}
.enhtext {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
}
.enhmunkh h5 {
  color: grey;
  opacity: 0.8;
}
.enhmunkh h6 {
  color: white;
  list-style: none;
}
.enhmunkh img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.box {
  width: 260px;
  height: 320px;
  padding: 20px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box1 {
  background-image: url("./images/zolboo.jpeg");
}
.box2 {
  background-image: url("./images/ubcab.jpeg");
}
.box3 {
  background-image: url("./images/zaluus.png");
}
.box4 {
  background-image: url("./images/toglolt.jpeg");
}
.box5 {
  background-image: url("./images/about\ book.png");
}
.box6 {
  background-image: url("./images/shaltgaan7.png");
}
.box7 {
  background-image: url("./images/hoslol8.png");
}
.container h4 {
  color: white;
  font-size: 1.62rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin: 3rem 0 2.8rem 0;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.dot-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dot {
  border-radius: 50%;
  background-color: #0078f6;
  width: 8px;
  height: 8px;
}
.dot-box span {
  color: white;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: -300px;
}
.section2 {
  display: flex;
  gap: 20px;
}

.box button {
  background-color: #0078f6;
  border-radius: 10px;
  color: white;
  border: none;
}

.box h5 {
  color: white;
  font-size: 1.26rem;
  font-weight: 700;
  line-height: 1.5rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 70px;
}
.oyu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.oyutext {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
}
.oyu span {
  color: grey;
  opacity: 0.8;
}
.oyu a {
  list-style: none;
}
.oyu img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.section3 {
  width: 80%;
  margin: 40px auto;
}
.section3-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  margin-bottom: 30px;
}

.section3-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-bottom: 30px;
}

.dot-box1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.content-right {
  background-color: white;
  width: 739px;
  border-radius: 20px 0 20px 20px;
}
.content-left {
  background-color: white;
  width: 739px;
  border-radius: 0px 20px 20px 20px;
}
.content-article {
}
.content-article h3 {
  font-size: 1.5rem;
  line-height: 1.6rem;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.content img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-top: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 400px 80px 400px;
  gap: 20px;
}
.section4 {
  width: 80%;
  margin: auto;
}

.grid div {
}

.grid-box1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border: 2px solid black;
  background-image: url(./images/adapt.jpeg);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: ;
  justify-content: end;
}
.grid-box2 {
  border: 2px solid rgb(250, 3, 3);
  background-image: url(./images/c.jpeg);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-box3 {
  border: 2px solid rebeccapurple;
  background-image: url(./images/dorvol.png);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-box4 {
  border: 2px solid rgb(3, 3, 250);
  border: 2px solid rebeccapurple;
  background-image: url(./images/soronzonbold.jpeg);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-box5 {
  border: 2px solid pink;
  background-image: url(./images/10book.jpeg);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-box6 {
  border: 2px solid yellow;
  grid-column: 3 / 1 span;
  grid-row: 2 / 2 span;
  background-image: url(./images/msc.jpeg);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-box7 {
  grid-column: 4 / 1span;
  grid-row: 2 / 2 span;
  border: 2px solid rgb(118, 250, 3);
  background-image: url(./images/hulan.png);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-opacity {
  width: 600px;
  height: 80px;

  backdrop-filter: blur(4px);
}
